@font-face {
    font-family: myFirstFont;
    src: url(CODE-Bold.otf);
}

@font-face {
    font-family: gotham;
    src: url(GothamXNarrow-Light.otf);
}

.container {
    margin-top: 20%;
}
h1 {
    font-family: myFirstFont;
    font-size: 70px;

}
p {
    font-family: gotham;
    font-size: 35px;
}

.marginabove {
     margin-top:0;
}

.marginbelow {
     margin-bottom:0;
}

body {
  background: url("IMG_1687.jpg");
  background-position: center;
  background-repeat no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}